.button--auth {
  border-radius: 5px;
  background: #7367f0;
  margin-top: 20px;
  width: 100%;
  color: #fff;
  text-align: center;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button--reg {
  border-radius: 5px;
  background: #7367f0;
  margin-top: 5px;
  width: 100%;
  color: #fff;
  text-align: center;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
