@import "./layout/page";
@import "./layout/form";
@import "./layout/mainpage";
@import "./components/buttons";
@import "./components/checkbox";
@import "./components/input";
@import "./components/modal";
@import "./components/typography";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
